* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #1b1b1b;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}



header {
    z-index: -1px;
    margin: 20px 60px;
    padding: 20px;
    border: solid red;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1b1b;
}

header .head-A p{
    font-size: 3.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}

header .head-C{
    background-color: transparent;
}
header .head-C a {
    font-size: 1.1rem;
    margin: 0px 21px 0px 23px;
}
header .head-C a:hover {
    color: red;
    
}

header .head-C a:hover span{
    color: #d98383;
}

.wrapper {
    display: flex;
    height: 500px;
    align-items: center;
    background-color: #bbb;
    justify-content: center;
    /* background-color: #1b1b1b;
    background-image: url(../assets/pexels-elti-meshau-333850.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center 0px; */
}
.wrapper .hero_A h1{
    font-size: 4.1rem;
    color: black;
}


@media only screen and (max-width: 600px) {

    header {
        display: block;
        margin: 0px;
        padding: 10px 0px;
        text-align: center;
    }

    header .head-A p{
        margin-bottom: 20px;
        
    }

    header .head-C {
        background-color: transparent;
    }
    header .head-C a{
        font-size: 1.2rem;
        margin: 0px 19px;
    }

}